<div class="group row">
  <img src="/assets/image_processing20200424-23052-tm5tw2.png" class="image" />
  <p class="igx-typography__body-1 text">Ryan Acevedo: Writing Skills/Security
Kevin Rosa: Q&amp;A and Performance Testing Skills
Dan Gutierrez: Product Management Skills
David Benavides: Usability/accessibility and Business Analysis
Shivani Patel: Design Skills/ mapping the layout of the “App”
</p>
  <h1 class="h1">Yelp!</h1>
  <igx-buttongroup class="button-group">
    <button igxButton="flat" igxRipple routerLink="/sign-up">
      <igx-icon>add</igx-icon>
      <p>Log Out</p>
    </button>
    <button igxButton="flat" igxRipple routerLink="/menu-main">
      <igx-icon>add</igx-icon>
      <p>Search</p>
    </button>
    <button igxButton="flat" igxRipple routerLink="/about-us">
      <igx-icon>add</igx-icon>
      <p>ABout Us</p>
    </button>
  </igx-buttongroup>
</div>
<p class="igx-typography__body-1 text_1">Welcome to Yelp! We are a team of 5 individuals that are passionate about the environment and would like to share our envision that can possibly aid us in improving the environment. </p>
