<h6 class="h6">Search City, Country</h6>
<igx-buttongroup class="button-group">
  <button igxButton="flat" igxRipple routerLink="/sign-up">
    <igx-icon>add</igx-icon>
    <p>Log Out</p>
  </button>
  <button igxButton="flat" igxRipple routerLink="/menu-main">
    <igx-icon>add</igx-icon>
    <p>Search</p>
  </button>
  <button igxButton="flat" igxRipple routerLink="/about-us">
    <igx-icon>add</igx-icon>
    <p>ABout Us</p>
  </button>
</igx-buttongroup>
<div class="group">
  <igx-icon family="material" class="icon">search</igx-icon>
  <h5 class="h5">Baltimore, America</h5>
  <img src="/assets/line-graph (4).png" class="image" />
  <img src="/assets/line-graph (3).png" class="image_1" />
  <img src="/assets/line-graph (1).png" class="image_2" />
</div>
