<h6 class="h6">Search City, Country</h6>
<igx-buttongroup class="button-group">
  <button igxButton="flat" igxRipple routerLink="/sign-up">
    <igx-icon>add</igx-icon>
    <p>Log Out</p>
  </button>
  <button igxButton="flat" igxRipple routerLink="/menu-main">
    <igx-icon>add</igx-icon>
    <p>Search</p>
  </button>
  <button igxButton="flat" igxRipple routerLink="/about-us">
    <igx-icon>add</igx-icon>
    <p>ABout Us</p>
  </button>
</igx-buttongroup>
<div class="group">
  <igx-icon family="material" routerLink="/menu-main2" class="icon">search</igx-icon>
  <h5 class="h5">Baltimore, America</h5>
  <p class="igx-typography__body-1 text">Enter a location then tap the magnifying glass to search! </p>
  <p class="igx-typography__body-1 text_1">After searching you will see soil, water, and air quality data!</p>
</div>
