<div class="group">
  <img src="/assets/earth-png-clipart-earth-clipart-transparent-background-11562979272aolmzzvjlb.png" class="image" />
  <button igxButton="raised" igxRipple routerLink="/menu-main" class="button">
    <igx-icon>navigate_next</igx-icon>
    <span>Log in</span>
  </button>
  <button igxButton="raised" igxRipple routerLink="/sign-up" class="button_1">
    <igx-icon>assignment_ind</igx-icon>
    <span>Signup</span>
  </button>
</div>
<igx-input-group type="box" class="input">
  <input type="email" placeholder="Email Address" igxInput />
  <label igxLabel>Log In</label>
  <igx-hint>Forgot Email?</igx-hint>
</igx-input-group>
<igx-input-group type="box" class="input_1">
  <input type="password" placeholder="Password" igxInput />
  <label igxLabel>Password</label>
  <igx-hint>Forgot Password?</igx-hint>
</igx-input-group>
<p class="igx-typography__body-1 text">for Climate Change! </p>
<h2 class="h2">Yelp</h2>
