<img src="/assets/earth-png-clipart-earth-clipart-transparent-background-11562979272aolmzzvjlb.png" class="image" />
<div class="group row">
  <igx-input-group type="box" class="input">
    <input type="email" placeholder="Email Address" igxInput />
  </igx-input-group>
  <igx-input-group type="box" class="input_1">
    <input type="email" placeholder="Password" igxInput />
  </igx-input-group>
  <igx-input-group type="box" class="input_2">
    <input type="email" placeholder="Name" igxInput />
  </igx-input-group>
  <igx-input-group type="box" class="input_3">
    <input type="email" placeholder="Confirm Password" igxInput />
  </igx-input-group>
  <button igxButton="raised" igxRipple routerLink="/menu-main" class="button">log in</button>
</div>
<h2 class="h2">Sign Up</h2>
